# Part 3.5

This Part is meant to extract the remaining movie data up to the year 2021.
I will be preprocessing said data and Performing etl to get it ready for the hypothesis testing in part 4

In [1]:
import pandas as pd
import numpy as np
import os, time, json
import tmdbsimple as tmdb 
import seaborn as sns
with open('C:/Users/Sean/.edit/tmdb_api.json', 'r') as f:
    login = json.load(f)
from tqdm.notebook import tqdm_notebook
## Display the keys of the loaded dict
login.keys()

# Credential import
tmdb.API_KEY =  login['api-key']
# additional imports
from scipy import stats
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
#saving api call data
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)
file_list = sorted(os.listdir(FOLDER))
file_list[1]

'combined_tmdb_data.csv.gz'

In [3]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/title_basics.csv.gz')

basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...
143286,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama
143287,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller"
143288,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,84,Thriller
143289,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History"
143290,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama

## Functions

In [4]:
def get_movie_certification(movie_id):
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    
    for c in releases['countries']:
        if c['iso_3166_1'] == "US":
            info['certification'] = c['certification']     
    return info

# function for json file creation

def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [5]:
#defining a list of years
YEARS_TO_GET = [2015,2016,2017,2018,2019,2020]

 #defining an errors list
errors = [ ]

## Loop Extraction

In [6]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
#Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
# Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
# If it does not exist: create it
    if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
#Saving new year as the current df
    df = basics.loc[basics['startYear']==YEAR].copy()
# saving movie ids to list
    movie_ids = df['tconst'].copy()    
# Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
# filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
 #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
 # Retrieve the data for the movie id
            temp = get_movie_certification(movie_id)  
 # Append/extend results to existing file using our pre-made write json function
            write_json(temp,JSON_FILE)
# Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            #print(e)
            errors.append([movie_id, e])
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip",
                     index=False)

YEARS:   0%|          | 0/6 [00:00<?, ?it/s]

Movies from 2015:   0%|          | 0/2835 [00:00<?, ?it/s]

Movies from 2016:   0%|          | 0/3867 [00:00<?, ?it/s]

Movies from 2017:   0%|          | 0/9408 [00:00<?, ?it/s]

Movies from 2018:   0%|          | 0/9591 [00:00<?, ?it/s]

Movies from 2019:   0%|          | 0/9316 [00:00<?, ?it/s]

Movies from 2020:   0%|          | 0/7492 [00:00<?, ?it/s]

In [7]:
any movie ids that caused an error?
print(f"- Total errors: {len(errors)}")

Object `error` not found.
- Total errors: 16642

In [8]:
#fetching data
import glob
# make filepath query
q = FOLDER+'final*.csv.gz'
q

'Data/final*.csv.gz'

In [9]:
# using glob to get all them movies
file_list = glob.glob(q)
file_list

['Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2003.csv.gz',
 'Data\\final_tmdb_data_2004.csv.gz',
 'Data\\final_tmdb_data_2005.csv.gz',
 'Data\\final_tmdb_data_2006.csv.gz',
 'Data\\final_tmdb_data_2007.csv.gz',
 'Data\\final_tmdb_data_2008.csv.gz',
 'Data\\final_tmdb_data_2009.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz',
 'Data\\final_tmdb_data_2011.csv.gz',
 'Data\\final_tmdb_data_2012.csv.gz',
 'Data\\final_tmdb_data_2013.csv.gz',
 'Data\\final_tmdb_data_2014.csv.gz',
 'Data\\final_tmdb_data_2015.csv.gz',
 'Data\\final_tmdb_data_2016.csv.gz',
 'Data\\final_tmdb_data_2017.csv.gz',
 'Data\\final_tmdb_data_2018.csv.gz',
 'Data\\final_tmdb_data_2019.csv.gz',
 'Data\\final_tmdb_data_2020.csv.gz',
 'Data\\final_tmdb_data_2021.csv.gz']

In [10]:
pd.read_csv(file_list[0], lineterminator = '\n')

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation\r
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
1,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.32,1142.0,PG-13\r
2,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,NaN,0.0,"[{'id': 10752, 'name': 'War'}]",NaN,285529.0,id,November 1828,...,0.0,140.0,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,NaN,November 1828,0.0,0.00,0.0,\r
3,tt0089067,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,210258.0,es,El día de los albañiles 2,...,0.0,90.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.20,71.0,\r
4,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.00,3.0,\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",http://www.hkcinemagic.com/en/movie.asp?id=6627,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.00,2.0,\r
2258,tt9099724,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,616033.0,ja,Rokushukan Private Moment,...,0.0,102.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Rokushukan Private Moment,0.0,0.00,0.0,\r
2259,tt9798698,0.0,NaN,NaN,0.0,[],NaN,580269.0,en,Gay holocaust,...,0.0,0.0,[],Released,NaN,Gay holocaust,0.0,0.00,0.0,\r
2260,tt0313342,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,1030475.0,en,Dream,...,0.0,104.0,[],Released,NaN,Dream,0.0,0.00,0.0,\r
2261,tt4219002,0.0,/1CbdtIgaW68zUf9cU7JmXg20m5K.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,1029799.0,zh,天尽头,...,0.0,0.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,天尽头,0.0,0.00,0.0,\r

In [11]:
df_list = []
for file in file_list:
    temp_df = pd.read_csv(file, lineterminator = '\n')
    df_list.append(temp_df)
len(df_list)

22

In [12]:
pd.concat(df_list)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation\r,certification\r,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r,NaN,NaN
1,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.32,1142.0,PG-13\r,NaN,NaN
2,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,NaN,0.0,"[{'id': 10752, 'name': 'War'}]",NaN,285529.0,id,November 1828,...,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,NaN,November 1828,0.0,0.00,0.0,\r,NaN,NaN
3,tt0089067,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,210258.0,es,El día de los albañiles 2,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.20,71.0,\r,NaN,NaN
4,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.00,3.0,\r,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3528,tt9895024,0.0,/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,834443.0,de,Heikos Welt,...,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Heiko's World,0.0,0.00,0.0,NaN,NaN,NaN
3529,tt9896876,0.0,/hMvRbT6HOqERhh3K8kXbaLz9LlZ.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,821493.0,en,India Sweets and Spices,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the aunties talk.,India Sweets and Spices,0.0,6.00,2.0,NaN,NaN,PG-13
3530,tt9898844,0.0,/q2KFBGyUSzHDhNqXEYv2LqTWVSz.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,870671.0,en,The Hunting,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hunger runs deep.,The Hunting,0.0,4.90,20.0,NaN,NaN,NaN
3531,tt9900940,0.0,/3jjWLg5bevWqReyVroYqxwVrH0k.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,861294.0,en,The Scrapper,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can't escape your past.,The Scrapper,0.0,6.00,2.0,NaN,NaN,NaN
3532,tt9907782,0.0,/gRTYArznK1MLAq7opC1tYHnTwM3.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 14, 'nam...",NaN,630392.0,en,The Cursed,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Cursed,0.0,7.00,55.0,NaN,NaN,R

In [13]:
df = pd.concat([pd.read_csv(file, lineterminator='\n')for file in file_list])
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation\r,certification\r,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r,NaN,NaN
1,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.32,1142.0,PG-13\r,NaN,NaN
2,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,NaN,0.0,"[{'id': 10752, 'name': 'War'}]",NaN,285529.0,id,November 1828,...,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,NaN,November 1828,0.0,0.00,0.0,\r,NaN,NaN
3,tt0089067,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,210258.0,es,El día de los albañiles 2,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.20,71.0,\r,NaN,NaN
4,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.00,3.0,\r,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3528,tt9895024,0.0,/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,834443.0,de,Heikos Welt,...,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Heiko's World,0.0,0.00,0.0,NaN,NaN,NaN
3529,tt9896876,0.0,/hMvRbT6HOqERhh3K8kXbaLz9LlZ.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,821493.0,en,India Sweets and Spices,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the aunties talk.,India Sweets and Spices,0.0,6.00,2.0,NaN,NaN,PG-13
3530,tt9898844,0.0,/q2KFBGyUSzHDhNqXEYv2LqTWVSz.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,870671.0,en,The Hunting,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hunger runs deep.,The Hunting,0.0,4.90,20.0,NaN,NaN,NaN
3531,tt9900940,0.0,/3jjWLg5bevWqReyVroYqxwVrH0k.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,861294.0,en,The Scrapper,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can't escape your past.,The Scrapper,0.0,6.00,2.0,NaN,NaN,NaN
3532,tt9907782,0.0,/gRTYArznK1MLAq7opC1tYHnTwM3.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 14, 'nam...",NaN,630392.0,en,The Cursed,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Cursed,0.0,7.00,55.0,NaN,NaN,R

In [14]:
# deal with malformed files by removing id's that are 0 and resetting index
df = df.loc[df['imdb_id']!='0'].reset_index(drop=True)
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation\r,certification\r,certification
0,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.32,1142.0,PG-13\r,NaN,NaN
1,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,NaN,0.0,"[{'id': 10752, 'name': 'War'}]",NaN,285529.0,id,November 1828,...,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,NaN,November 1828,0.0,0.00,0.0,\r,NaN,NaN
2,tt0089067,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,210258.0,es,El día de los albañiles 2,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.20,71.0,\r,NaN,NaN
3,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.00,3.0,\r,NaN,NaN
4,tt0114722,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,276251.0,es,3 Noches,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,3 Nights,0.0,0.00,0.0,\r,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93106,tt9895024,0.0,/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,834443.0,de,Heikos Welt,...,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Heiko's World,0.0,0.00,0.0,NaN,NaN,NaN
93107,tt9896876,0.0,/hMvRbT6HOqERhh3K8kXbaLz9LlZ.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,821493.0,en,India Sweets and Spices,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the aunties talk.,India Sweets and Spices,0.0,6.00,2.0,NaN,NaN,PG-13
93108,tt9898844,0.0,/q2KFBGyUSzHDhNqXEYv2LqTWVSz.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,870671.0,en,The Hunting,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hunger runs deep.,The Hunting,0.0,4.90,20.0,NaN,NaN,NaN
93109,tt9900940,0.0,/3jjWLg5bevWqReyVroYqxwVrH0k.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,861294.0,en,The Scrapper,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can't escape your past.,The Scrapper,0.0,6.00,2.0,NaN,NaN,NaN
93110,tt9907782,0.0,/gRTYArznK1MLAq7opC1tYHnTwM3.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 14, 'nam...",NaN,630392.0,en,The Cursed,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Cursed,0.0,7.00,55.0,NaN,NaN,R

In [15]:
# save csv to folder
df.to_csv('Data/combined_tmdb_data.csv.gz',compression = 'gzip',index=False)

df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation\r,certification\r,certification
0,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.32,1142.0,PG-13\r,NaN,NaN
1,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,NaN,0.0,"[{'id': 10752, 'name': 'War'}]",NaN,285529.0,id,November 1828,...,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,NaN,November 1828,0.0,0.00,0.0,\r,NaN,NaN
2,tt0089067,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,210258.0,es,El día de los albañiles 2,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.20,71.0,\r,NaN,NaN
3,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.00,3.0,\r,NaN,NaN
4,tt0114722,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,276251.0,es,3 Noches,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,3 Nights,0.0,0.00,0.0,\r,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93106,tt9895024,0.0,/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,834443.0,de,Heikos Welt,...,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Heiko's World,0.0,0.00,0.0,NaN,NaN,NaN
93107,tt9896876,0.0,/hMvRbT6HOqERhh3K8kXbaLz9LlZ.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,821493.0,en,India Sweets and Spices,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the aunties talk.,India Sweets and Spices,0.0,6.00,2.0,NaN,NaN,PG-13
93108,tt9898844,0.0,/q2KFBGyUSzHDhNqXEYv2LqTWVSz.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,870671.0,en,The Hunting,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hunger runs deep.,The Hunting,0.0,4.90,20.0,NaN,NaN,NaN
93109,tt9900940,0.0,/3jjWLg5bevWqReyVroYqxwVrH0k.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,861294.0,en,The Scrapper,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can't escape your past.,The Scrapper,0.0,6.00,2.0,NaN,NaN,NaN
93110,tt9907782,0.0,/gRTYArznK1MLAq7opC1tYHnTwM3.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 14, 'nam...",NaN,630392.0,en,The Cursed,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Cursed,0.0,7.00,55.0,NaN,NaN,R

## Testing Functions

In [16]:
# Testing function, making sure calls work, and appropriate data extracted.
# summoning some random movie in the db
get_movie_certification('tt9907782')

{'adult': False,
 'backdrop_path': '/gRTYArznK1MLAq7opC1tYHnTwM3.jpg',
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [{'id': 27, 'name': 'Horror'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 9648, 'name': 'Mystery'}],
 'homepage': '',
 'id': 630392,
 'imdb_id': 'tt9907782',
 'original_language': 'en',
 'original_title': 'The Cursed',
 'overview': "In the late 19th century, a brutal land baron slaughters a Roma clan, unleashing a curse on his family and village. In the days that follow, the townspeople are plagued by nightmares, the baron's son goes missing, and a boy is found murdered. The locals suspect a wild animal, but a visiting pathologist warns of a more sinister presence lurking in the woods.",
 'popularity': 22.148,
 'poster_path': '/rYobaxr1JHhmOSszqQh5Aj4Viiu.jpg',
 'production_companies': [{'id': 8533,
   'logo_path': '/5jxaT7zoJKtnwqxniiJ9iJLsJru.png',
   'name': 'LD Entertainment',
   'origin_country': 'US'},
  {'id': 26065,
   'logo_path': None,
   'name': 'Piste Rouge',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2021-07-28',
 'revenue': 4588389,
 'runtime': 111,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': '',
 'title': 'The Cursed',
 'video': False,
 'vote_average': 6.832,
 'vote_count': 116,
 'certification': 'R'}

In [17]:
# testing function for movies, ensuring data was properly extracted
# getting some othr random movie
get_movie_certification('tt9895024')

{'adult': False,
 'backdrop_path': '/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg',
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}],
 'homepage': '',
 'id': 834443,
 'imdb_id': 'tt9895024',
 'original_language': 'de',
 'original_title': 'Heikos Welt',
 'overview': "A son tries to save his mother's eyesight by drinking beer and playing darts.",
 'popularity': 0.938,
 'poster_path': '/miPUS4bMvooEWUpq8kbC0j7oCie.jpg',
 'production_companies': [{'id': 154995,
   'logo_path': None,
   'name': 'ASP GmbH',
   'origin_country': ''},
  {'id': 154996,
   'logo_path': None,
   'name': 'Mutter & Vater Productions GmbH',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'}],
 'release_date': '2021-09-08',
 'revenue': 0,
 'runtime': 118,
 'spoken_languages': [{'english_name': 'German',
   'iso_639_1': 'de',
   'name': 'Deutsch'}],
 'status': 'Released',
 'tagline': '',
 'title': "Heiko's World",
 'video': False,
 'vote_average': 0.0,
 'vote_count': 0}

# Preprocessing and Cleaning

In [18]:
# getting keys for search parameters
early_2k_movies = df
early_2k_movies.keys()

Index(['imdb_id', 'adult', 'backdrop_path', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'certifcation\r', 'certification\r',
       'certification'],
      dtype='object')

In [19]:
# getting info on our new df
early_2k_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93111 entries, 0 to 93110
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                93111 non-null  object
 1   adult                  93111 non-null  float64
 2   backdrop_path          51790 non-null  object
 3   belongs_to_collection  5178 non-null   object
 4   budget                 93111 non-null  float64
 5   genres                 93111 non-null  object
 6   homepage               18340 non-null  object
 7   id                     93111 non-null  float64
 8   original_language      93111 non-null  object
 9   original_title         93111 non-null  object
 10  overview               87554 non-null  object
 11  popularity             93111 non-null  float64
 12  poster_path            82901 non-null  object
 13  production_companies   93111 non-null  object
 14  production_countries   93111 non-null  object
 15  release_date           91389 non-null  object
 16  revenue                93111 non-null  float64
 17  runtime                93109 non-null  float64
 18  spoken_languages       93111 non-null  object
 19  status                 93111 non-null  object
 20  tagline                27100 non-null  object
 21  title                  93111 non-null  object
 22  video                  93111 non-null  float64
 23  vote_average           93111 non-null  float64
 24  vote_count             93111 non-null  float64
          4453 non-null   object
         85126 non-null  object
 27  certification          674 non-null    object
dtypes: float64(9), object(19)
memory usage: 19.9+ MB

In [20]:
early_2k_movies.isna().sum()

imdb_id                      0
adult                        0
backdrop_path            41321
belongs_to_collection    87933
budget                       0
genres                       0
homepage                 74771
id                           0
original_language            0
original_title               0
overview                  5557
popularity                   0
poster_path              10210
production_companies         0
production_countries         0
release_date              1722
revenue                      0
runtime                      2
spoken_languages             0
status                       0
tagline                  66011
title                        0
video                        0
vote_average                 0
vote_count                   0
certifcation\r           88658
certification\r           7985
certification            92437
dtype: int64

In [21]:
# there's a lot of missing data here, i'm choosing to fill missing values with missing
early_2k_movies.fillna(value = 'Missing',
          inplace = True)
early_2k_movies

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation\r,certification\r,certification
0,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,Missing,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",Missing,11232.0,en,Kate & Leopold,...,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.32,1142.0,PG-13\r,Missing,Missing
1,tt0079644,0.0,/79axmuH1UGkB7m72jjB9rPff9om.jpg,Missing,0.0,"[{'id': 10752, 'name': 'War'}]",Missing,285529.0,id,November 1828,...,"[{'english_name': 'Indonesian', 'iso_639_1': '...",Released,Missing,November 1828,0.0,0.00,0.0,\r,Missing,Missing
2,tt0089067,0.0,Missing,Missing,0.0,"[{'id': 35, 'name': 'Comedy'}]",Missing,210258.0,es,El día de los albañiles 2,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,The laborers are back full of love and laughs.,El día de los albañiles 2,0.0,7.20,71.0,\r,Missing,Missing
3,tt0114447,0.0,Missing,Missing,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",Missing,151007.0,en,The Silent Force,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.00,3.0,\r,Missing,Missing
4,tt0114722,0.0,Missing,Missing,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Missing,276251.0,es,3 Noches,...,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,Missing,3 Nights,0.0,0.00,0.0,\r,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93106,tt9895024,0.0,/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg,Missing,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",Missing,834443.0,de,Heikos Welt,...,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Missing,Heiko's World,0.0,0.00,0.0,Missing,Missing,Missing
93107,tt9896876,0.0,/hMvRbT6HOqERhh3K8kXbaLz9LlZ.jpg,Missing,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Missing,821493.0,en,India Sweets and Spices,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the aunties talk.,India Sweets and Spices,0.0,6.00,2.0,Missing,Missing,PG-13
93108,tt9898844,0.0,/q2KFBGyUSzHDhNqXEYv2LqTWVSz.jpg,Missing,0.0,"[{'id': 27, 'name': 'Horror'}]",Missing,870671.0,en,The Hunting,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hunger runs deep.,The Hunting,0.0,4.90,20.0,Missing,Missing,Missing
93109,tt9900940,0.0,/3jjWLg5bevWqReyVroYqxwVrH0k.jpg,Missing,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",Missing,861294.0,en,The Scrapper,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can't escape your past.,The Scrapper,0.0,6.00,2.0,Missing,Missing,Missing
93110,tt9907782,0.0,/gRTYArznK1MLAq7opC1tYHnTwM3.jpg,Missing,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 14, 'nam...",Missing,630392.0,en,The Cursed,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Missing,The Cursed,0.0,7.00,55.0,Missing,Missing,R

In [22]:
early_2k_movies.isna().sum()

imdb_id                  0
adult                    0
backdrop_path            0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
certifcation\r           0
certification\r          0
certification            0
dtype: int64

In [23]:
# checking for duplicates
early_2k_movies.duplicated().sum()

0

In [24]:
# get basics and ratings info
basics = pd.read_csv('Data/title_basics.csv.gz')
ratings= pd.read_csv('Data/title.ratings.csv.gz')

# Transformations

## Normalize Data

In [25]:
# keep only id, revenue, budget, and certification from early 2000's
early_2k_movies = early_2k_movies[['imdb_id','revenue','budget','certification']]
early_2k_movies

         imdb_id     revenue      budget certification
0      tt0035423  76019048.0  48000000.0       Missing
1      tt0079644         0.0         0.0       Missing
2      tt0089067         0.0         0.0       Missing
3      tt0114447         0.0         0.0       Missing
4      tt0114722         0.0         0.0       Missing
...          ...         ...         ...           ...
93106  tt9895024         0.0         0.0       Missing
93107  tt9896876         0.0         0.0         PG-13
93108  tt9898844         0.0         0.0       Missing
93109  tt9900940         0.0         0.0       Missing
93110  tt9907782   4588389.0         0.0             R

[93111 rows x 4 columns]

In [26]:
# changing imdb_id to tconst as a consistent primary key for my columns
early_2k_movies = early_2k_movies.rename(columns = {'imdb_id':'tconst'})

In [27]:
# getting info for early 2000's
early_2k_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93111 entries, 0 to 93110
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         93111 non-null  object
 1   revenue        93111 non-null  float64
 2   budget         93111 non-null  float64
 3   certification  93111 non-null  object
dtypes: float64(2), object(2)
memory usage: 2.8+ MB

## Normalizing Genres¶

In [28]:
# create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,[Drama]
3,tt0079644,movie,November 1828,November 1828,0,2001,140,"Drama,War","[Drama, War]"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...
143286,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama,[Drama]
143287,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
143288,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,84,Thriller,[Thriller]
143289,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History","[Drama, History]"
143290,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama,[Drama]

In [29]:
# use .explode() to separate the list of genres into new rows:
# one row for each genre a movie belonged to.

exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...
143287,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller",Thriller
143288,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,84,Thriller,Thriller
143289,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",Drama
143289,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",History
143290,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama,Drama

In [30]:
# Convert string column to list
genres_split = basics['genres'].str.split(",")
# Explode and take unique entries only
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'War', 'Horror', 'Sci-Fi',
       'Mystery', 'Adventure', 'Musical', 'Action', 'Crime', 'Thriller',
       'Music', 'Animation', 'Family', 'History', 'Biography', 'Sport',
       'Western', 'Adult', 'Short', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [31]:
# use .unique() to get the unique genres from the genres_split column

unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [32]:
# Create a new title_genres table
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [33]:
# Create a genre mapper dictionary to replace string genres with integers
## Making the genre mapper dictionary

genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [34]:
genre_id_map = dict(zip(unique_genres,range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [35]:
# make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres

           tconst  genre_id
0       tt0035423         5
0       tt0035423         9
0       tt0035423        18
1       tt0062336         7
2       tt0069049         7
...           ...       ...
143287  tt9916190        23
143288  tt9916270        23
143289  tt9916362         7
143289  tt9916362        11
143290  tt9916538         7

[248497 rows x 2 columns]

In [36]:
# convert genre map into df
genre_lookup = pd.DataFrame({'genre_name': genre_id_map.keys(),
                            'genre_id': genre_id_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [37]:
# Discard unnecessary information in Basics.
basics = basics.drop(columns=['originalTitle', 'isAdult','titleType', 'genres',
                             'genres_split'])
basics

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0079644,November 1828,2001,140
4,tt0088751,The Naked Monster,2005,100
...,...,...,...,...
143286,tt9916170,The Rehearsal,2019,51
143287,tt9916190,Safeguard,2020,95
143288,tt9916270,Il talento del calabrone,2020,84
143289,tt9916362,Coven,2020,92
143290,tt9916538,Kuambil Lagi Hatiku,2019,123

# SQL

##  Creating Database

In [38]:
#load mysql credentials
with open('C:/Users/Sean/.edit/my_sql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['user', 'password'])

In [39]:
# create connection to database
from urllib.parse import quote_plus as urlquote
connection = f"mysql+pymysql://{login['user']}:{urlquote(login['password'])}@localhost/makin_better_movies.sql"
engine = create_engine(connection)

In [40]:
# check if db exists, if not create it
if database_exists(connection):
    print('Already Exists')
else:
    create_database(connection)
    print('Database Created')

Already Exists

## Saving MySQL Table With 'tconst' as the Primary Key

In [41]:
# get max string length
max_str_len = basics['tconst'].fillna('').map(len).max()
max_str_len

10

In [42]:
#Use 1 larger than the max_str/text_len `string(max_str_len +1 )`.

from sqlalchemy.types import *
# calculate max string length for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
certification_len = early_2k_movies['certification'].fillna('').map(len).max()

# create basics schema dictionry
basics_schema = {
    'tconst': String(key_len+1),
    'primaryTitle': Text(title_len+1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()
}

# create ratings schema dictionry
ratings_schema = {
    'tconst': String(key_len+1),
    'averageRating': Float(),
    'genre_id': Integer()
}

# create early_2k schema dictionry
early_2k_schema = {
    'tconst': String(key_len+1),
    'budget': Float(),
    'revenue': Float(),
    'certification': String(certification_len+1)
}

# create title_genre schema dictionry
title_genres_schema ={
    'tconst': String(key_len+1),
    'genre_id': Integer()
}

In [43]:
# save db to df
basics.to_sql('basics', engine, dtype=basics_schema, index=False, if_exists = 'replace')
ratings.to_sql('ratings', engine, dtype=ratings_schema, index = False,if_exists = 'replace')
early_2k_movies.to_sql('early_2k_movies', engine, dtype=early_2k_schema, index= False, if_exists = 'replace')
title_genres.to_sql('title_genres', engine, dtype=title_genres_schema, index=False, if_exists = 'replace')
genre_lookup.to_sql('genres_lookup', engine, index=False, if_exists = 'replace')

26

In [44]:
# update table and set tconst as primary key
engine.execute('ALTER TABLE basics ADD PRIMARY KEY (`tconst`);')
engine.execute('ALTER TABLE ratings ADD PRIMARY KEY (`tconst`);')
engine.execute('ALTER TABLE early_2k_movies ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt3163080' for key 'early_2k_movies.PRIMARY'")
[SQL: ALTER TABLE early_2k_movies ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

# Testing Queries

In [45]:
# check if tables loaded
q = """SHOW TABLES;"""
pd.read_sql(q,engine)

  Tables_in_makin_better_movies.sql
0                            basics
1                   early_2k_movies
2                     genres_lookup
3                           ratings
4                      title_genres

In [46]:
# test query for basics
q = """SELECT * FROM basics LIMIT 5;"""
pd.read_sql(q,engine)

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
2,tt0069049,The Other Side of the Wind,2018.0,122
3,tt0079644,November 1828,2001.0,140
4,tt0088751,The Naked Monster,2005.0,100

In [47]:
# test query for ratings
q = """SELECT * FROM ratings LIMIT 5;"""
pd.read_sql(q,engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1913
1  tt0000002            5.8       258
2  tt0000003            6.5      1717
3  tt0000004            5.6       170
4  tt0000005            6.2      2533

In [48]:
# test query for early_2k_movies
q = """SELECT * FROM early_2k_movies LIMIT 5;"""
pd.read_sql(q,engine)

      tconst     revenue      budget certification
0  tt0035423  76019000.0  48000000.0       Missing
1  tt0079644         0.0         0.0       Missing
2  tt0089067         0.0         0.0       Missing
3  tt0114447         0.0         0.0       Missing
4  tt0114722         0.0         0.0       Missing

In [49]:
# test query for title_genres
q = """SELECT * FROM title_genres LIMIT 5;"""
pd.read_sql(q,engine)

      tconst  genre_id
0  tt0035423         5
1  tt0035423         9
2  tt0035423        18
3  tt0062336         7
4  tt0069049         7

# Ready to Move on